@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --addis-orange: #d67f1f;
  --addis-green: #0f9d58;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-addis-orange: var(--addis-orange);
  --color-addis-green: var(--addis-green);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
