#login-username:focus, #login-password:focus {
    border-color: #86B82A;
}

a.reg {
    color: #86B82A;
}

    a.reg:hover {
        box-shadow: #86B82A 0px 0px 10px;
    }

.login-part {
    text-align: right;
    background-color: white;/*#E17A18;*/
    
}

    .login-part * {
        padding: 5px;
    }

    .login-part button {
        margin-left: 10px;
    }
/*#login-form,
#register-form {
display:none;
}

#register-form {
display:block;
}*/
.registerModal{
	height:90%;
}
.signup-container button{
        	background-color: #e17a18;
        	color: white;
        }
          .signup-container  .form-control:focus {
        border-color: #458b00;
        box-shadow: 0px 1px 1px rgba(69, 139, 0, 0.075) inset, 0px 0px 8px rgba(69, 139, 0, 0.5);
    	}
    	.signup-container  p {
    		text-align: center;
    		font-weight: bold;
    	}
         .signup-center {
        	padding-top: 3%;
        	display: block;
        	margin-left: auto;
        	margin-right: auto;
        }
		.signup-container 	div.well{
			  height: 250px;
			} 
		.signup-container 	.form-centered {
			  margin: auto;
			  /*position: absolute;*/
			  top: 0; left: 0; bottom: 0; right: 0;
			}
		.signup-container 	.form-centered.responsive {
			  height: 50%;
			  min-width: 200px;
			  max-width: 400px;
			  padding: 40px;
			}
		.signup-container 	#logo-container{
			  margin: auto;
	
			  width:200px;
			  height:30px;
			}
		.signup-container 	.register{
			  text-align: center;
			}
			.signup-container .referral {
				width: 100%;
			}
       
