			body{
				background-color: #e17a18;
				color: white;
				text-align: justify;
				display: inline-block;				
			}
			h1 {
				font-family: Baskerville;
				font-size: 23px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 23px;
			}
			h2 {
				font-family: Baskerville;
				font-size: 17px;
				font-style: normal;
				font-variant: normal;
				font-weight: 500;
				line-height: 23px;
			}
			p, ul, li {
				font-family: Baskerville, 'Baskerville Old Face', 'Hoefler Text', Garamond, 'Times New Roman', serif;
				font-size: 14px;
				font-style: normal;
				font-variant: normal;
				font-weight: 400;
				line-height: 23px;
				list-style: none;
			}
			.cg{

			}